._acompanhamento {

	margin-top: 20px;

	.item {

		&:hover {
			color: $primary-color-4;
			background-color: $primary-color-2;
		}

		&.active {
			color: $primary-color-4;
			background-color: $primary-color-2;
		}
	}
}
