._chamada {

	.fotos-aluno {
		align-items: center;

		img {
			width: 100%;
			height: 20em;
			width: 20em;
		}
	}

	.ion-person {
		font-size: 15em;
		color: gray;
	}

	button {
		margin-top: 0;
	}

}
