@import "colors";
@import "fonts";

@import "_inputs";
@import "_labels";
@import "_buttons";
@import "_common";
@import "_side-menu";

@import "_detalhe";
@import "_chamada";
@import "_login";
@import "_aberturaChamada";
@import "_listaChamada";
@import "_matricula";
@import "_acompanhamento";
@import "_cadastroturma";
@import "_importacao-alunos";
@import "_cadastro-professor";
