<ion-view view-title="Acompanhamento de frequência">
    <ion-content class="_acompanhamento">

        <h1>
            Exportar dados
        </h1>
        <ion-list>
            <ion-item class="no-border border-radius-3 lista-turma" ng-repeat="turma in turmas" ng-click="exportar(turma)">
                <h4>Turma {{turma.nome}}</h4>
            </ion-item>
        </ion-list>

		<!-- <div ng-repeat="turma in turmas">

			<ion-item ng-class="{active: isGroupShown(turma)}" >
				<div ng-click="toggleGroup(turma)">
					<label>Turma {{turma.turma.disciplina}}</label>
				</div>
				<ion-item class="item-accordion" ng-show="isGroupShown(turma)">
					<ion-item ng-repeat="falta in turma.faltas">
						<div class="nome">
							{{falta.aluno}}
						</div>
						<div class="presenca">
							{{falta.presenca}}
						</div>
					</ion-item>
				</ion-item>
			</ion-item>
		</div> -->

    </ion-content>
</ion-view>
