<ion-view>
    <ion-content class="_cadastroturma">
        <h3>Cadastro Turma</h3>

        <h4>Nome:</h4>
        <input type="text" placeholder="Nome da turma" ng-model="cadastroTurmaCtrl.nome" />

        <h4>Alunos Matriculados</h4>
        <ion-list>
            <ion-item ng-repeat="aluno in alunos" class="item">
                <span>{{aluno.matricula}}</span>
                <span>{{aluno.nome}}</span>
                <ion-checkbox ng-model="aluno.selecionado"></ion-checkbox>
                <ion-option-button class="deletar-button" ng-click="cadastroTurmaCtrl.deletar(aluno)">Deletar</ion-option-button>
            </ion-item>
        </ion-list>
        <hr/>

        <div class="item item-input-inset">
            <button class="button" ng-click="cadastroTurmaCtrl.cadastrarTurma()" ng-disabled="!cadastroTurmaCtrl.isAlunosSuficientes(alunos)">
                Cadastrar turma
            </button>

            <div class="upload-section">
                <h3>Importar lista de alunos</h3>
                <div>
                    <input id="file" type="file" accept=".csv" class="button"/>
                </div>

                <button class="button" ng-click="cadastroTurmaCtrl.importarAlunos()">
                    Submeter arquivo
                </button>
            </div>

        </div>
    </ion-content>
</ion-view>
