<ion-view view-title="Presença">
    <ion-content class="_lista-chamada">
        <div class="conteudo">
            <h4>Turma {{ nomeTurma }}</h4>
            <div class="list">
                <ion-checkbox ng-repeat="item in alunosList" ng-model="item.checked" ng-checked="item.checked" class="item-checkbox-right">
                    {{ item.text }}
                </ion-checkbox>
            </div>
            <button class="button" ng-click="listaChamadaCtrl.confirmar()">
                Confirmar
            </button>
            <button class="button" ng-click="listaChamadaCtrl.cancelar()">
                Cancelar
            </button>
        </div>
    </ion-content>
</ion-view>
