<ion-view>
    <ion-content class="_login">
		<h3>Bem vindo!</h3>
		<form ng-submit="loginCtrl.doLogin()">

			<div class="item item-input-inset">
				<label class="item-input-wrapper">
					<input ng-model="loginCtrl.login" type="text" placeholder="Digite seu login">
				</label>
				<label class="item-input-wrapper">
					<input ng-model="loginCtrl.pass" type="password" placeholder="Digite sua senha">
				</label>
				<button type="submit" class="button">
		            Login
		        </button>
			</div>
		</form>
    </ion-content>
</ion-view>
